{% load static %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">

    <title>SkyShrimp</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
  </head>
 <body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
          <img src="/media/shrimp.png" alt="Logo" class="navbar-logo">
      </a>
      <span class="navbar-text">SkyShrimp</span>
      <button class="btn btn-outline-secondary" type="button">Контакты</button>
      <button class="btn btn-outline-secondary ml-2" type="button">Рассылки</button>
  </nav>

    <div class="container">
      <div class="py-5 text-center">
        <h2>Создать рассылку</h2>
        <p class="lead">Пожалуйста, заполните все обязательные поля новой рассылки</p>
      </div>

<div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Новая рассылка</h4>
        <form class="needs-validation" action="{% url 'mailing:home' %}" method="post" novalidate>
            {% csrf_token %}
            <!-- Выбор контактов -->
                <div class="mb-3" id="contactsContainer">
                    <label>Контакты</label>
                    <div class="contact-select mb-2">
                        <select class="form-control mb-2" name="contacts">
                            <option>Контакт 1</option>
                            <option>Контакт 2</option>
                            <!-- ... -->
                        </select>
                    </div>
                    <button type="button" id="addContactButton">+</button>
                </div>
                <!-- Частота рассылки -->
                <div class="mb-3">
                    <label for="frequency">Частота рассылки</label>
                    <select class="form-control" id="frequency" name="fre" onchange="showDateFields(this)">
                        <option value="" selected disabled>Выберите частоту</option>
                        <option value="once">Один раз</option>
                        <option value="daily">Каждый день</option>
                        <option value="weekly">Каждую неделю</option>
                        <option value="monthly">Каждый месяц</option>
                        <option value="yearly">Каждый год</option>
                    </select>
                </div>
                <!-- Поле для даты и времени -->
                <div id="datetimeField" class="mb-3" style="display: none;">
                    <!-- здесь будут поля для ввода даты и времени в зависимости от выбранной частоты -->
                </div>
                <div class="mb-3">
                    <label for="subject">Тема</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Введите тему сообщения" required>
                </div>

                <div class="mb-3">
                    <label for="body">Сообщение</label>
                    <textarea class="form-control" id="body" name="body" rows="6" placeholder="Введите основной текст сообщения" required></textarea>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Создать</button>
            </form>
        </div>
    </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2023-{% now 'Y' %} SkyShrimp</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>

  </body>
</html>
