{% extends 'mailing/base.html' %}
{% block content %}
    <div class="container">
      <div class="py-5 text-center">
        <h2>Создать рассылку</h2>
        <p class="lead">Пожалуйста, заполните все обязательные поля новой рассылки</p>
      </div>

<div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Новая рассылка</h4>
        <form class="needs-validation" action="{% url 'mailing:home' %}" method="post" novalidate>
            {% csrf_token %}
            <!-- Выбор контактов -->
                <div class="mb-3">
                    <label for="contacts">Получатели</label>
                    <select id="contacts" name='contacts' multiple="multiple" class="form-control" style="width: 100%">
                        <option value="Контакт 1">Контакт 1</option>
                        <option value="Контакт 2">Контакт 2</option>
                        <!-- ... -->
                    </select>
                </div>
                <!-- Частота рассылки -->
                <div class="mb-3">
                    <label for="frequency">Частота рассылки</label>
                    <select class="form-control" id="frequency" name="frequency" onchange="showDateFields(this)">
                        <option value="" selected disabled>Выберите частоту</option>
                        <option value="once">Один раз</option>
                        <option value="daily">Каждый день</option>
                        <option value="weekly">Каждую неделю</option>
                        <option value="monthly">Каждый месяц</option>
                        <option value="yearly">Каждый год</option>
                    </select>
                </div>
                <!-- Поле для даты и времени -->
                <div id="datetimeField" class="mb-3" style="display: none;">
                    <!-- здесь будут поля для ввода даты и времени в зависимости от выбранной частоты -->
                </div>
                <div class="mb-3">
                    <label for="subject">Тема</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Введите тему сообщения" required>
                </div>

                <div class="mb-3">
                    <label for="body">Сообщение</label>
                    <textarea class="form-control" id="body" name="body" rows="6" placeholder="Введите основной текст сообщения" required></textarea>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Создать</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}