<div class="col-md-4 mx-auto">
    {% if user.is_authenticated %}
    <h5 class="text-center mb-3">{{ user.email }}</h5>
    {% else %}
    <h5 class="text-center mb-3">Войдите в аккаунт</h5>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="d-flex justify-content-center">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить</button>
        <a href="{% url 'mailing:home' %}" class="btn btn-warning btn-warning-special btn-lg btn-block">Отмена</a>
        {% else %}
        <button class="btn btn-primary btn-lg btn-block" type="submit">Вход</button>
        {% endif %}
    </form>
</div>